.container, .container-fluid {
  margin-top: 20px;
}

.navItem {
  color: white;
}

.navBrand {
  color: white;
}

.footer {
  position:fixed;
  width: 100%;
  bottom:0;
}

.footerPadding {
  position:relative;
  width:100%;
  height:60px;
}

.bottomPadding {
  padding-bottom:60px;
}

.rootContainer {
  padding-bottom:60px;
}

.relatedArticlesPadding {
  position:relative;
  width:50%;
  height:20px;
}
